button{
    background-color: rgb(35, 139, 204);
    border: 2px solid rgb(35, 139, 204);
    border-radius: 5px;
    width: 140px;
    height: 40px;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    background-color: rgb(3, 142, 229);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color:#ffffff;
}

.button{
    display: flex;
    gap: 10px;
}